# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# ML Models (optional: keep if you want)
*.pkl

# Database
*.db

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
